//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content
doctype html
html
  head
    title = title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    link(rel="stylesheet" href="/js/jstree/dist/themes/default/style.min.css")
    script(src="/js/jquery-3.6.0.min.js")
    script(src="/js/jstree/dist/jstree.min.js")
    script(src="/bootstrap/bootstrap.bundle.min.js") 
    
    
    
  body
    //- img(src="/img/logo_bortek.png", alt="Бортек" id="logo")
    //- div(id="timedisplay")
    //- div.user-tools
    //-   - if (userData) {
    //-     h4 #{userData.displayName}
    //-     a(id="logout" class="btn btn-outline-secondary" href="/login/logout") Выйти
    //-   - }
    block content
    script(src="/bootstrap/popper.min.js")
    script(src="/bootstrap/bootstrap.min.js")